.work__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .work__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 310px;
  }
}

@media screen and (max-width: 350px) {
  .work__container {
    grid-template-columns: 1fr;
  }
}
