.work__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.work__thumbnail {
  padding: 10%;
  transition: 0.3s;
}

.work__card:hover .work__thumbnail {
  scale: 1.1;
}

.work__mask {
  background: #6555c7;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.work__card:hover .work__mask {
  opacity: 0.8;
}

.work__title {
  color: white;
  font-size: var(--h3-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 2rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work__description {
  color: white;
  font-size: var(--small-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 4rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work__button {
  color: var(--title-color);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: var(--h2-font-size);
  display: block;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: 0.3s;
  opacity: 0;
}

.work__card:hover .work__button {
  opacity: 1;
}

.work__card .work__button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.work__card:hover .work__title,
.work__card:hover .work__category,
.work__card:hover .work__description {
  opacity: 1;
  transform: translateY(0);
}
