.timeline__item {
  padding-bottom: 2rem;
}

.timeline__item:last-child {
  padding-bottom: 0;
}

.timeline__date {
  font-size: var(--small-font-size);
}

.timeline__title {
  font-size: var(--h3-font-size);
  margin: 0.5rem 0;
}
