/*============= Google Fonts =============*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/*============= Variables CSS =============*/
:root {
  /*========= Colors CSS =========*/
  --first-color: #6555c7;
  --title-color: hsl(244, 24%, 26%);
  --title-color-dark: hsla(0, 0%, 100%, 0.8);
  --text-color: hsl(243, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --body-color-dark: hsl(259, 28%, 10%);
  --nav-bg-color: hsl(0, 0%, 100%);
  --nav-bg-color-dark: hsl(259, 28%, 9%);
  --container-color: #fff;

  /*========= Font and Typography =========*/
  --body-font: "Raleway", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========= Font Weight =========*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*========= Box Shadow =========*/
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  --shadow-dark: 10px 10px 25px -10px rgb(0, 0, 0);

  /*========= Border Radius =========*/
  --border-radius: 20px;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*============= Base =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  line-height: 1.7;
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*============= Resuable CSS Classes =============*/

.container {
  max-width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.section {
  padding-top: 5rem;
  padding-bottom: 2rem;
  max-width: 1280px;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  color: white;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.btn:hover {
  scale: 1.1;
  color: white;
}
